<nav class="navbar">
    <div class="nav-container">
        <a href="{{ '/' | relative_url }}" class="nav-logo">YangBanPro</a>
        <ul class="nav-menu">
            <li><a href="{{ '/' | relative_url }}">About</a></li>
            <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            <li><a href="{{ '/studies/' | relative_url }}">Studies</a></li>
            <li><a href="{{ '/paper-reviews/' | relative_url }}">Paper Reviews</a></li>
            <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
            <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
            <li><a href="{{ '/cv/' | relative_url }}">CV</a></li>
            <li><a href="#" class="search-trigger"><i class="fas fa-search"></i></a></li>
        </ul>
    </div>
</nav>
